<ng-container *ngIf="usuario">
  <nav id="sidebarMenu">
    <div class="position-sticky pt-4">
      <ul class="nav nav-pills flex-column">
        <li *ngIf="usuario.isAdministrador()">
          <a class="nav-link link-white" routerLinkActive="active" routerLink="admin/crud-usuarios"
            aria-current="page"> Gestionar usuarios
          </a>
        </li>
        <li *ngIf="usuario.isAdministrador()">
          <a class="nav-link link-white" routerLinkActive="active" routerLink="admin/registro-usuarios"
            aria-current="page"> Añadir usuarios
          </a>
        </li>
        <li *ngIf="usuario.isAdministrador()">
          <a class="nav-link link-white" routerLinkActive="active" routerLink="admin/elegir-proyecto"
            aria-current="page"> Administrar proyectos
          </a>
        </li>
        <li *ngIf="usuario.isUsuario()" class="text-white">
          Eres usuario
        </li>
        <li *ngIf="usuario.isJefe()" class="text-white">
          Eres jefe
        </li>
        <li *ngIf="usuario.isAdministrador()" class="text-white">
          Eres admin
        </li>
      </ul>
    </div>
  </nav>
</ng-container>
