<div class="row">
  <div class="page-header d-flex justify-content-between pb-3">
    <h1 class="h2">Creando una tarea pare el proyecto {{idProyecto}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 formulario">
    <form [formGroup]="registro" (ngSubmit)="onSubmit()" class="row">
      <div class="mb-3 col-6">
        <label for="descripción" class="form-label"><b>Descripción</b></label>
        <input type="text" formControlName="descripcion" class="form-control" id="descripcion">
        <div *ngIf="submitted && formulario['descripcion'].errors">
          <div *ngIf="formulario['descripcion'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La descripción no puede estar
            vacía.
          </div>
          <div *ngIf="formulario['descripcion'].errors['minlength']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La descripción introducida tiene
            que tener al menos 5 carácteres.
          </div>
          <div *ngIf="formulario['descripcion'].errors['maxlength']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La descripción introducida tiene
            que tener máximo 30 carácteres.
          </div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="dificultad" class="form-label"><b>Dificultad</b></label>
        <select class="col-4" formControlName="dificultad">
          <option *ngFor="let d of dificultades" [value]="d.dificultad">{{d.dificultad}}</option>
        </select>
        <div *ngIf="submitted && formulario['dificultad'].errors">
          <div *ngIf="formulario['dificultad'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">Tienes que elegir una dificultad.
          </div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="estimacion" class="form-label"><b>Estimación</b></label>
        <input type="number" formControlName="estimacion" class="form-control" id="estimacion">
        <div *ngIf="submitted && formulario['estimacion'].errors">
          <div *ngIf="formulario['estimacion'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La estimación no puede estar
            vacía.
          </div>
          <div *ngIf="formulario['estimacion'].errors['min']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La estimación no puede ser menor a
            1 día.
          </div>
          <div *ngIf="formulario['estimacion'].errors['max']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La estimación no puede ser mayor a
            {{maximo!.dias}} días.
          </div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="f_comienzo" class="form-label"><b>Fecha de comienzo</b></label>
        <input type="date" formControlName="f_comienzo" class="form-control" id="f_comienzo">
        <div *ngIf="submitted && formulario['f_comienzo'].errors">
          <div *ngIf="formulario['f_comienzo'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha de inicio no puede estar
            vacía.
          </div>
          <div *ngIf="formulario['f_comienzo'].errors['mayorQueHoy']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha tiene que ser igual o
            mayor que hoy.
          </div>
        </div>
      </div>
      <div class="mb-3 col-6">
        <label for="f_fin" class="form-label"><b>Fecha de entrega</b></label>
        <input type="date" formControlName="f_fin" class="form-control" id="f_fin">
        <div *ngIf="submitted && formulario['f_fin'].errors">
          <div *ngIf="formulario['f_fin'].errors['required']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha de entrega no puede estar
            vacía.
          </div>
          <div *ngIf="formulario['f_fin'].errors['menorQueDosMeses']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha tiene que ser menor a {{maximo!.dias}}
            dias respecto a la fecha de comienzo.
          </div>
          <div *ngIf="formulario['f_fin'].errors['mayorQueFechaInicio']"
            class="h6 text-danger bg-white rounded border border-2 border-danger p-2">La fecha de entrega tiene que ser
            mayor que la fecha de incio de la tarea.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" value="Registro">Registrar tarea</button>
    </form>
  </div>
</div>
