<div class="container-fluid">
  <div class="row">
    <div class="page-header d-flex justify-content-between pb-3 col-8">
      <h1 class="h2">Eelegir proyecto</h1>
    </div>
    <div class="col-4 d-flex justify-content-end pb-2 col-4">
      <button (click)="addProyecto()" class="btn btn-info px-2 py-1 me-2" type="submit">
        Registrar proyecto
      </button>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-12">
        <div *ngFor="let proyecto of proyectos"
          ngClass="row mb-2 bg-secondary p-2 border border-primary rounded text-white" attr.id="{{proyecto.id}}">
          <div class="col-12">
            <label class="row" for="jefe{{proyecto.dni_jefe}}">
              <span class="col-4 text-center">ID</span>
              <span class="col-4 text-center">Nombre</span>
              <span class="col-4 text-center">Jefe</span>
              <input class="col-4" type="text" readonly [(ngModel)]="proyecto.id">
              <input class="col-4" type="text" [(ngModel)]="proyecto.nombre">
              <select class="col-4" [(ngModel)]="proyecto.dni_jefe">
                <option *ngFor="let jefe of jefes" [value]="jefe.dni">{{jefe.nombre}}</option>
              </select>
            </label>
          </div>
          <div class="col-sm-3 mt-1 text-center">
            <input type="button" class="btn btn-success m-1" value="Ver proyecto" (click)='verProyecto(proyecto.id)'>
          </div>
          <div class="col-sm-3 mt-1 text-center">
            <input type="button" class="btn btn-success m-1" value="Ver tareas" (click)='verTareas(proyecto.id)'>
          </div>
          <div class="col-sm-3 mt-1 text-center">
            <input type="button" class="btn btn-success m-1" value="Asignar tareas" (click)='asignarTareas(proyecto.id)'>
          </div>
          <div class="col-sm-3 mt-1 text-center">
            <input type="button" class="btn btn-danger m-1" value="Borrar proyecto" (click)='borrarProyecto(proyecto.id)'>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-1 text-center">
        <input type="button" class="btn btn-success m-1" value="Guardar datos" (click)='guardarDatos()'>
      </div>
    </div>
  </div>
</div>
