<div class="row">
  <div class="page-header d-flex justify-content-between pb-3">
    <h1 class="h2">Asignando tareas al usuario {{dniUsuario}} </h1>
  </div>
</div>
<div class="card p-3" cdkDropListGroup>
  <div class="row">
    <div class="col-sm-12">
      <div class="row bg-white p-2 rounded border-white">
        <div class="col-md-4 col-sm-6 mt-1">
          <div class="row">
            <div class="col-12 border border-primary rounded bg-light">
              <h2 class="h4">Tareas</h2>
              <div class="row">
                <div class="col-sm-9">
                  <div class="card">
                    <div class="card-body ps-3" cdkDropList [cdkDropListData]="tareas"
                      (cdkDropListDropped)="drop($event)">
                      <div *ngFor="let t of tareas"
                        ngClass="trabajadores h6 text-white bg-secondary rounded border-secondary row p-1 mb-2"
                        attr.id="{{t.id}}" cdkDrag>
                        {{t.descripcion}} - {{t.id}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-6 mt-1">
          <div class="row">
            <div class="col-12">
              <div *ngFor="let t of trabajadores"
                ngClass="row mb-2 bg-light p-2 border border-primary rounded text-black" attr.id="{{t.dni}}">
                <h2 class="h4">Trabajador {{t.nombre}}</h2>
                <div class="row">
                  <div class="col">
                    <div ngClass="row mb-2 bg-success p-2 border border-primary rounded text-white"
                      attr.id="{{t.dni}}">
                      <div class="col">
                        <div class="row">
                          <div class="col-12">
                            <div cdkDropList [cdkDropListData]="t.tareas" class="py-3"
                              (cdkDropListDropped)="drop($event)">
                              <div *ngFor="let tarea of t.tareas"
                                ngClass="trabajadores text-white bg-secondary rounded border-secondary row p-1 mb-2"
                                attr.id="{{tarea.id}}" cdkDrag>
                                <span class="h6 text-white col-12">{{tarea.descripcion}} -
                                  {{tarea.id}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-1 text-center">
          <input type="button" class="btn btn-outline-primary m-1" value="Guardar" (click)='actualizarTareasJefe()'>
        </div>
      </div>
    </div>
  </div>
</div>
